body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.search{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.forms{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    background-color: rgb(192, 191, 191);
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.textarea{
    width: 150px;
    margin: 10px;
}
#search{
    height: 40px;
    border-radius: 12px;
    border: 1px solid black;
}

button{
    height: 40px;
    border-radius: 12px;
    border: 1px solid black;
    padding-left: 10px;
    margin-left: 10px;
}

/* .div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    width: 500px;
} */
